
body {
    background: url(../images/background.jpg);
};

#submitBtn{
    margin-bottom: 10px;
}

.clickMe{
    background-color: rgb(224, 233, 224);
    border: hidden;
    margin: 3px;
}

.clickMe:hover{
    border-style: groove;
}

.clickMe:focus {     
    background-color: burlywood;    
}

#leftCol{
    display:inline-block;
}

#rightCol{
    display:inline-block;
}

#header{
    color: rgb(61, 59, 59);
}

.combineDiv{
    display: inline;
    margin: 8px 8px;
    border-style: ridge;
}

.ratingDiv{
    padding-left: 3px;
}

/* p{
    float:left;
} */
/* .left{
    border: 3px solid white;
} */